.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 16px;
    transition: all 0.3s ease;
}

.social-icons a img {
    height: 50px;
    width: 50px;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
